<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"> -->

    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/footer.css">
</head>
<body>
    <div class="banner" data-aos="fade-zoom-in" data-aos-easing="ease-in-back" data-aos-delay="50" data-aos-offset="0">
        <div class="navbar">
            <img src="img/logo_edu.png" alt="logo" class="logo">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">For school</a></li>
                <li><a href="#">Support</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="./login">Login</a></li>
            </ul>
        </div>
        <div class="banner-text">
            <h1>CLASS MANAGEMENT WEBSITE</h1>
            <p>Management Website For Advisors</p>
            <div class="banner-btn">
                <a href="#"><span></span>Sign In</a>
                <a href="#"><span></span>Learn more</a>
            </div>
        </div>
    </div>
    <div id="features" class="bg-color">
        <div class="jumbotron text-center">
            <div class="row">
                <div class="col-sm-4">
                    <div class="feature">
                        <figure>
                            <img data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="1000" src="./img/sofa.png" alt="icon">
                        </figure>
                    </div>
                    <h3>Work at home</h3>
                    <p>Teachers and students can exchange at home and anywhere</p>
                </div>
                <div class="col-sm-4">
                    <div class="feature" >
                        <figure>
                            <img data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="1000" src="./img/lighting.png" alt="logo">
                        </figure>
                    </div>
                    <h3>Instant information</h3>
                    <p>General announcements from lecturers are updated and communicated to students immediately</p>
                </div> 
                <div class="col-sm-4">
                    <div class="feature">
                        <figure>
                            <img src="./img/ui.png" alt="logo" data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="1000">
                        </figure>
                    </div>
                    <h3>Friendly interface</h3>
                    <p>The classroom interface is designed to be simple and easy to use for users</p>
                </div>
            </div>
        </div>
    </div>    
    <section id="subscribe">
        <div class="container">
            <div class="row">
                <div class="col-sm-5">
                    <figure>
                        <img src="./img/img-suscribe.jpg" class="img-responsive" data-aos="fade-right" data-aos-offset="300" data-aos-easing="ease-in-sine" alt="subcribe">
                    </figure>
                </div>
                <div class="col-sm-7 from-right">
                    <h2>Subscribe to the Class</h2>
                    <form action="#" id="sub-form" role="form">
                        <fieldset>
                            <div class="form-group" data-aos="fade-up" data-aos-duration="1200">
                                <div class="left-inner">
                                    <i class="fa fa-user"></i>
                                    <input type="text" class="form-control input-lg" placeholder="Enter your name here...">
                                </div>
                            </div>
                            <div class="form-group" data-aos="fade-up" data-aos-duration="1200">
                                <div class="left-inner">
                                    <i class="fa fa-envelope-o"></i>
                                    <input type="email" class="form-control input-lg" placeholder="Enter your email here...">
                                </div>
                            </div>
                            <div class="form-group" data-aos="fade-up" data-aos-duration="1200">
                                <div class="left-inner">
                                    <i class="fa fa-pencil"></i>
                                    <textarea name="desc" id="desc" cols="10" rows="5" class="form-control input-lg" placeholder="Describe your request to the teacher..."></textarea>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-warning btn-lg"data-aos="fade-up" data-aos-duration="1200"><i class="fa fa-paper-plane"></i>Submit request</button>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </section>
    
    <section id="roles">
        <div class="container">
            <div class="row box-ql">
                    <div class="col-md-3 col-sm-12 col-12 flex-mb ">
                        <div class="item aos-init aos-animate" data-aos="fade-right" data-aos-delay="400" data-aos-duration="1000">
                            <div class="circle">
                                <img src="./img/i-1.webp" alt="">
                            </div>
                            <p>WEBSITE INTRODUCTION</p>
                        </div>

                        <div class="item aos-init aos-animate" data-aos="fade-right" data-aos-delay="400" data-aos-duration="1000">
                            <div class="circle">
                                <img src="./img/i-2.webp" alt=""> 
                            </div>
                            <p>CLASS MANAGEMENT</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12 col-12 flex-mb aos-init aos-animate" data-aos="zoom-in" data-aos-delay="200" data-aos-duration="1000">
                        <div class="content-center">
                            <div class="img-dotted right">
                                <img src="./img/dotted-right.webp" alt="">
                            </div>
                            <div class="img-dotted left">
                                <img src="./img/dotted-left.webp" alt="">
                            </div>
                            <ul class="content-list">
                                <li>Classroom Management System</li>
                                <li>Remote Classroom Model</li>
                            </ul>
                            <p class="text-bot">With many popular functions</p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-12 col-12 flex-mb">
                        <div class="item aos-init aos-animate" data-aos="fade-left" data-aos-delay="400" dta-aos-duration="1000">
                            <div class="circle">
                                <img src="./img/i-2.webp" alt=""> 
                            </div>
                            <p>STUDENT MANAGEMENT</p>
                        </div>
                        <div class="item aos-init aos-animate" data-aos="fade-left" data-aos-delay="600" dta-aos-duration="1000">
                            <div class="circle">
                                <img src="./img/i-2.webp" alt=""> 
                            </div>
                            <p>TRACK PROCESS</p>
                        </div>           
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="middle">
        <div class="container">
            <div class="row" style="margin-top: 70px;">
                    <div class="col-md-8 col-sm-12 col-12 flex-mb ">
                            <div class="text">
                                <h3>Introduction</h3>
                                <p>
                                    Our online classroom management system is created for a certain institution, for teachers and students of Can Tho University with a user-friendly interface that comes with featured functions for teaching and learning for the benefit of all
                                </p>
                                <a class="btn btn-success btn-lg">Sign In</a>
                            </div>
                            
                        </div>
                    <div class="col-md-4 col-sm-12 col-12 pict">
                        <img src="./img/tree.png" alt="" >
                    </div>
                </div>
            </div>
    </section>
    <section id="bot">
        
    </section>


<!--FOOTER-->
    <footer>
        <div class="container">
            <a id="block2"></a>
            <div class="aboutus">
                <h2>About us</h2>
                <p>My site can help you make a professional cv builder<br> for your job application with no money
                .Parallel with that<br> you completely choose and design cv according to your needs with our available tools and functions.
                </p>
                <ul class="iconfooter">
                <li><a href="https://www.facebook.com/chechenh.to/"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                <li><a href="https://twitter.com/home"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                <li><a href="https://www.instagram.com/"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                <li><a href="https://www.youtube.com/channel/UCfuQhkWSo9SSWjbZ3EAg70g"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
                </ul>
            </div>
            <div class="links">
                <h2>Links</h2>
                <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#">Profile</a></li>
                <li><a href="#">Help</a></li>
                <li><a href="#">Privacy policy</a></li>
                </ul>
            </div> 
            <div class="contact">
                <h2>Contact info</h2>
                <ul class="info">
                    <li>
                        <span>
                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                        </span>
                        <span>Campus II, 3/2 street,<br> Ninh Kieu district, Can Tho city,<br> Viet Nam</span>
                    </li>
                    <li>
                        <span>
                            <i class="fa fa-phone" aria-hidden="true"></i>
                        </span>               
                        <p>
                            <a href="tel:0818952539"> +84818952539</a><br>
                            <a href="tel:0819952539"> +84819952539</a>
                        </p>
                    </li>
                    <li>
                        <span>
                            <i class="fa fa-envelope-o" aria-hidden="true"></i>
                        </span>                
                        <p>
                            <a href="mailto:anhb1809674@student.ctu.edu.vn">anhb1809674@student.ctu.edu.vn</a>
                        </p>  
                    </li>
                </ul>
            </div>            
        </div>
    </footer>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
</body>
</html>