@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;

}
.title{
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    color: #66CCCC;
}

.profile-btn{
border-radius: 20px;
transition: 0.5s;

}
.pane-info .container{
    width: 60%;
    border-radius: 5%;
    background-color: #fff;
    border-radius: .25rem;
    box-shadow: 0 2px 6px 0 rgb(218 218 253 / 65%), 0 2px 6px 0 rgb(206 206 238 / 54%);
    background-clip: border-box;
    border: 0 solid transparent;

}
.avatar{
    width: 80px;
    height: 80px;
    border-radius: 100px;
    cursor: pointer;

}
.profile-btn i{
    padding: 0 10px;
    font-size: 18px;
}

.labels {
    font-size: 15px;
}
.bg-image{
    background: url("/img/Working\ from\ anywhere-rafiki\ \(1\).svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.text-style{
    border-top: 2px solid #19B3D3;
    border-right: 2px solid #19B3D3;
    border-radius: 5px;
    padding: 2px;
    color: #50ABC7;
    font-weight: 100;
}
.text-style1{
    border-left: 2px solid #19B3D3 ;
    border-bottom: 2px solid #19B3D3;
    border-radius: 5px;
    padding: 2px;
    color: #50ABC7;
    font-weight: 100;
    }
.form-floating{
position: relative;
font-size: 20px;
}
.form-floating ion-icon{
position: absolute;
top:10px;
left:10px;
}
.form-floating input{
/* padding-left: 45px; */ 
padding: 6px 0 6px 40px;
margin-bottom: 15px;
}
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid transparent;
    border-radius: .25rem;
    margin-bottom: 1.5rem;
    box-shadow: 0 2px 6px 0 rgb(218 218 253 / 65%), 0 2px 6px 0 rgb(206 206 238 / 54%);
}

/* button file */
[type="file"] {
    /* Style the color of the message that says 'No file chosen' */
      color: #878787;
    }
    [type="file"]::-webkit-file-upload-button {
      background: #ED1C1B;
      border: 2px solid #ED1C1B;
      border-radius: 4px;
      color: #fff;
      cursor: pointer;
      font-size: 12px;
      outline: none;
      padding: 10px 25px;
      text-transform: uppercase;
      transition: all 1s ease;
    }
    
    [type="file"]::-webkit-file-upload-button:hover {
      background: #fff;
      border: 2px solid #535353;
      color: #000;
    }
    .btn {
        transition: 0.75s;
        width: 100%;
    }
    .btn ion-icon{
        font-size: 18px;
        padding-right: 10px;
        vertical-align: middle;
        padding-bottom: 5px;
        
    }
    .hr-style{
        border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
    }

    
    