@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;

}
body{
    background-color: #f6f6f6;
}
.navbar{
    background: #B3C2ED;
    /* box-shadow: -9px 10px 26px #0000001f; */
}
.navbar-brand h3{
    color: #fff;
    text-transform: uppercase;
    margin: 0;
    font-size: 22px;
    font-weight: 900;
    
}
.navbar-brand span{
    color: #47b4f3bf;

}
.left-pane{
    position: relative;
    left: 0;
    background: #cdd;
    width: 250px;
    height: 100%;
    transition: 0.5s;
    transition-property: left;
    /* box-shadow: -9px 25px 10px 26px #0000001f; */

}

.left-pane ul{
    height: 90vh;
    background: #fff;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.left-pane ul li{
    position: relative;
    list-style: none;
    line-height: 50px;
    transition: 0.5s;
    transition-property: background;
}
.left-pane ul li a{
    font-size: 17px;
    color: #000;
    padding-left: 50px;
    box-sizing: border-box;
    text-decoration: none;
}
.left-pane ul li a:hover{
    color: #19B3D3;
    /* background: var(--blue); */
}
/* .active{
    background: var(--blue);
    font-weight: 500;
} */
.avatar{
    width: 35px;
    height: 35px;
    border-radius: 100px;
    cursor: pointer;

}
.u_name {
    padding-right: 15px;
}
.profile_image{
    width: 130px;
    height: 130px;
    border-radius: 100px;
}
.left-pane h4{
    color:#aaa;
    margin-top: 0;
    margin-bottom: 15px;
}
.left-pane .icon{
    padding-right: 10px;
    font-size: 20px;
    
}
.btn:focus {
    outline: none;
    box-shadow: none;
}
.dropdown-menu{
    background: #EEEEEE;
    width: 200px;
}
.dropdown-menu a{
   color: #000;
   font-size: 15px;
}
.dropdown-menu a i{
    font-size: 15px;
    margin-right: 10px;
 }
.dropdown{
    margin-right: 45px;
}
.seperator{
    margin: 10px auto;
    height: 3px;
    width: 80%;
    background-color: #f6f6f6;
}
.space_img{
    width: 250px;
    height: 235px;
    /* filter: saturate(2); */
    filter: contrast(120%);
}

.page-wrapper{
    padding: 20px 20px;
 }
 .box-container{
     margin-left: 260px;
     padding: 20px;
     min-height: 90vh;
     background-color: #fff;
 }
.hello-box{
     width: 100%;
     height: 170px;
     border-radius: 20px;
     background: url("/img/welcome1.jpg");
     filter: contrast(110%);
     background-position: center;
     background-size: 100px;
     background-size: cover;
     


}
.notification-box{
    margin-top: 20px;
    width: 100%;
    height: 340px;
    border-radius: 20px;
    background-color: #fff;
    border: 4px solid #f6f6f6;
    overflow: auto;

}
.hello-box img{
    margin-left: 20px;
    height: 140%;
}
/* .text-style{
    font-size: 25px;
    color: #50ABC7;
    word-break: break-word;
    position: relative;
    top: 50px;
    font-weight: 700;
} */
.header-box{
    display: flex;
}
.notif-text{
    margin-top: 20px;
    font-size: 20px;
    font-weight: 600;
}

.list-group li{
    border-left: none;
    border-right: none;
}
.message-box{
    width: 100%;
    height: 80vh;
    border-radius: 20px;
    background-color: #fff;
    border: 4px solid #f6f6f6;
    padding: 10px;
    /* box-shadow: -9px 5px 12px #0000001f; */

}
.message-header{
    margin-top: 40px;
    text-align: center;
    padding-bottom: 40px;
}
.message-header h3{
    font-weight: 600;
}
.message-header p{
    color: gray;
    font-size: 17px;
    margin-top: 20px;
}
.message-text{
    position: relative;
    top: 30%;
}
.message-content{
    margin-bottom: 20px;
    border: 3px solid #f6f6f6;
    border-radius: 20px;
    transition: .5s;
    box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);


}
.message-wrapper{
    height: 50vh;
}

.message-content:hover{
    background-color: #448EF6;
}
.message-content:hover .message-text h4{
    color: #fff;
}
.message-content:hover .message-text a{
    color: #fff;
}
.message-text a{
    color: #448EF6;
    text-decoration: none;
}
.switch{
    float: right;
}
.info-box{
    width: 100%;
    height: 80vh;
    border-radius: 20px;
    background-color: #fff;
    border: 4px solid #f6f6f6;
    padding: 5px;
    box-shadow: -9px 5px 12px #0000001f;

}

.profile-card{
    margin: auto;
}
.profile-icon{
    box-shadow: 0px 5px 15px 0px rgb(108, 68, 252), 0px 0px 0px 7px rgba(107, 74, 255, 0.5);
    border-radius: 50%;
    background: #f6f6f6;
    height: 100px;
    padding: 10px;
    overflow: hidden;
    margin-bottom: 10px;
}
.card-name{
    font-weight: 700;
    font-size: 24px;
    color: #6944ff;
    margin-bottom: 15px;
}
.card-txt{
    font-size: 18px;
    font-weight: 500;
    color: #324e63;
    margin-bottom: 15px;

}
.card-txt ion-icon{
    font-size: 27px;
    vertical-align: middle;
    padding-right: 5px;
    font-weight: 600;
}

strong{
    font-weight: 700;
}


/* Css profile page  */



.profile-btn{
border-radius: 20px;
transition: 0.5s;

}
.pane-info .container{
    width: 100%;
    border-radius: 5%;
    background-color: #fff;
    border-radius: .25rem;
    box-shadow: 0 2px 6px 0 rgb(218 218 253 / 65%), 0 2px 6px 0 rgb(206 206 238 / 54%);
    background-clip: border-box;
    border: 0 solid transparent;

}

.profile-btn i{
    padding: 0 10px;
    font-size: 18px;
}

.labels {
    font-size: 15px;
}

.textstyle{
    border-top: 2px solid #19B3D3;
    border-right: 2px solid #19B3D3;
    border-radius: 5px;
    padding: 2px;
    color: #50ABC7;
    font-weight: 100;
}
.text-style1{
    border-left: 2px solid #19B3D3 ;
    border-bottom: 2px solid #19B3D3;
    border-radius: 5px;
    padding: 2px;
    color: #50ABC7;
    font-weight: 100;
    }
.form-floating{
position: relative;
font-size: 20px;
}
.form-floating ion-icon{
position: absolute;
top:10px;
left:10px;
}
.form-floating input{
/* padding-left: 45px; */ 
padding: 6px 0 6px 40px;
margin-bottom: 15px;
}
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid transparent;
    border-radius: .25rem;
    margin-bottom: 1.5rem;
    box-shadow: 0 2px 6px 0 rgb(218 218 253 / 65%), 0 2px 6px 0 rgb(206 206 238 / 54%);
}

/* button file */
[type="file"] {
    /* Style the color of the message that says 'No file chosen' */
      color: #878787;
    }
[type="file"]::-webkit-file-upload-button {
      background: #ED1C1B;
      border: 2px solid #ED1C1B;
      border-radius: 4px;
      color: #fff;
      cursor: pointer;
      font-size: 12px;
      outline: none;
      padding: 10px 25px;
      text-transform: uppercase;
      transition: all 1s ease;
    }
    
[type="file"]::-webkit-file-upload-button:hover {
      background: #fff;
      border: 2px solid #535353;
      color: #000;
    }
.btn ion-icon{
        font-size: 18px;
        padding-right: 10px;
        vertical-align: middle;
        padding-bottom: 5px;
        
    }
.hr-style{
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
    }
.header-style{
    color: #19B3D3;
    }
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
      }
      
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 150%;
    left: 50%;
    margin-left: -60px;
}
      
.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}
/* About classroom */
.box-content .container{
    padding: 50px;
}
.box-content .container h3{
    padding-bottom: 10px;
    font-weight: 500;
}
.box{
    cursor: pointer;
    position: relative;
    width: 270px;
    height: 200px;
    background: #565d85f7;
    border-radius: 20px;
    overflow: hidden;
    margin-right: 30px;
    margin-bottom: 30px;
    transition: .2s;
}
.box:hover{
    box-shadow: 0 30px 50px rgba(0,0,0,.2);
    transform: scale(1.1);
}

.card__icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    top: 30px;
    left: calc(54% - 40px);
    transition-delay: 0s;
    background: var(--i);
    position: absolute;
}
.card__icon ion-icon{
    font-size: 2rem;
    color: #fff;
    font-weight: bold;
    transition: 0.5s;
    transition-delay: 0s;
}
.card-img{
    display: block; 
    margin: 1rem auto 0px; 
    width: 6rem; 
    height: 6rem; 
    border-radius: 50%;
}
.card__content {
    position: relative;
    color: #fff;
    padding: 1px;
    text-align: center;
    margin-top: 100px;
    z-index: 1;
    transition: 0.5s;
    transition-delay: 0s;
    
  }

.card__title {
    margin: 10px 0 5px 0;
    font-size: 1.2rem;
    font-weight: 600;
  }

.time {
    font-size: 1rem;
    font-weight: 500;
    padding-top: 10px;
}

